<section class="busqueda">
    <div class="contenedor">
        <form action="">
            <input type="search" name="search" placeholder="Buscar Platos...">
            <input type="submit" name="submit" value="Buscar" class="btn btn-color">
        </form>
    </div> 
</section>    