<section class="categorias"> 
    <div class="contenedor">
        <h2 class="text-centro">Categorias</h2>
        {{#each categoria}}
            <a href="#">
                <div class="cuadro-3 float-contenedor">
                    <img src="imagenes/{{this}}.jpg" alt="helados" class="img-responsive img-redondeado">
                    <h3 class="float-text text-blanco">{{this}}</h3>
                </div>
            </a>
        {{/each}}
    </div>
</section>   
