<section class="sociales"> 
    <div class="contenedor text-centro">        
        <h2>Siguenos en...</h2>
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/color/48/000000/facebook.png" class="redes" /></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/color/48/000000/instagram-new--v1.png" class="redes" /></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png" class="redes" /></a>
                </li>
            </ul>    
    </div>
</section>    
