<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Restaurant</title>
</head>
<body>
    <!--Inicio de la seccion NavBar-->
    {{> navbar}}
    <!--Fin de la seccion NavBar-->

    <!--Inicio de la seccion Busqueda-->
    {{> busqueda}}
    <!--Fin de la seccion busqueda-->

    <!--Inicio de la seccion Categorias-->
    {{> categorias}}
    <!--Fin de la seccion Categorias-->

    <!--Inicio de la seccion Menu comidas-->
    {{> menu}}
    <!--Fin de la seccion menu comidas-->

    <!--Inicio de la seccion Redes Sociales-->
    {{> redes}}
    <!--Fin de la seccion Redes solciales-->

    <!--Inicio de la seccion Pie de pagina-->
    {{> footer}}   
    <!--Fin de la seccion Pie de pagina-->
</body>
</html>